<div id="content">

  <section class="section-1 py-5">
    <div class="container text-center">

      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="text-center">
            <h2>CONTROLA</h2>
            <h5 class="my-2">TODO LO QUE OCURRE EN TU NEGOCIO</h5>
            <div class="my-4"><img src="https://www.faressystems.com/img/servi/seo/responsive-web-design.png" class="img-fluid"/></div>
          </div>
        </div>
      </div>



  </div>

  </section>

  <section class="section-technology background-color-primary">

    <div class="container text-center">

      <div class="row align-items-center row-technology">
        <div class="col-6 text-left">
          <div class="title-technology">APP</div>
          <div class="subtitle-technology">Tu app única para tu negocio para dispositivos Android e iOS</div>
        </div>
        <div class="col-6">
          <img style="height: 326px;" src="https://webgang.mx/wp-content/uploads/2020/01/app-movil-png-4.png" class="img-fluid"/>
        </div>
      </div>
    </div>

  </section>

  <section class="section-technology">

    <div class="container text-center">

      <div class="row align-items-center row-technology">
        <div class="col-6 order-2 text-left">
          <div class="title-technology">Panel de control</div>
          <div class="subtitle-technology">Controla desde casa tu negocio</div>
        </div>
        <div class="col-6 order-1">
          <img src="https://corewin.com.ua/wp-content/uploads/2018/01/tableau-dashboard.png" class="img-fluid"/>
        </div>
      </div>
    </div>

  </section>

</div>
