<div id="content">

  <section class="section-1">
    <div class="container text-center">

      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="mt-4 mb-4 text-center">
            <h2>¡ QUE NO TE ENGAÑEN !</h2>
            <h4>Te ofrecemos más por menos y <b>Empieza a ahorrar</b> con nosotros.</h4>
            <!-- <h6>Prueba sin compromiso y solo paga por tu volumen de facturación </h6> -->
          </div>
        </div>
      </div>

      <div class="row">

        <div *ngFor="let card of cards" class="col-md-4 tecnologic-item">
          <div class="card card-border-top" [style.border-color]="card.color">
            <div class="card-body">
              <div class="icon-round" [style.background-color]="card.color+'40'"><i class="{{card.icon}}" [style.color]="card.color"></i></div>
              <h6 class="card-title"><b>{{card.title}}</b></h6>
              <p class="card-text">{{card.text}}</p>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <a>
            <h5>Y MUCHO MÁS</h5>
          </a>
        </div>

      </div>

    </div>
  </section>

  <div class="sizebox" style="height: 60px;"></div>

  <section class="section-2 py-5">

    <div class="container text-center">

      <div class="row align-items-center">
        <div class="col-sm">
          <div class="my-2 text-center">
            <h3>Simulador de precio</h3>
          </div>
        </div>
      </div>

      <div class="row py-2 align-items-center">
        <div class="col-sm">
          <p class="description">! No te lleves sorpresas ¡, no pagues más de <b>{{maxPriceStore.toFixed(2)}}€ </b> al mes por cada tienda</p>
          <p class="description">Nos ajustamos a tu negocio, Indica la facturación estimada que sueles hacer.</p>
        </div>
      </div>

      <div class="row py-4 align-items-center">
        <div class="col-sm">

          <div class="form-group">
            <label for="inputBilling">
              <h4>Facturación / tienda</h4>
            </label>
            <input type="range" class="slider" [(ngModel)]="billing" min="0" [max]="maxInvoicingStore" id="inputBilling"
              (input)="calculatePrice()">
            <span>{{billing.toFixed(2)}}€ de facturación mensual ({{(billing * 12).toFixed(2)}}€ anual)</span>
          </div>

        </div>
        <div class="col-sm">

          <div class="form-group">
            <label for="inputStore">
              <h4>Número de tiendas</h4>
            </label>
            <input type="range" class="slider" [(ngModel)]="stores" min="1" max="5" id="inputStore"
              (input)="calculatePrice()">
            <span>{{stores}} {{stores == 1 ? 'tienda' : 'tiendas'}}</span>
          </div>

        </div>
      </div>

      <div class="row justify-content-md-center">
        <h4><b>PAGA SOLO: {{finalPrice.toFixed(2)}}€/mes</b> ({{(finalPrice * 12).toFixed(2)}}€/año)</h4>
      </div>

    </div>

  </section>


  <section class="section-3 py-5 background-color-primary">
    <div class="container">

      <div class="row align-items-left text-center py-2">
        <div class="col">
          <h3>Comprativa de precio de otras marcas</h3>
        </div>

      </div>

      <div class="row justify-content-md-center">

        <div class="col-md-4 tecnologic-item">
          <div class="card card-border-top" [style.border-color]="'red'">
            <div class="card-body">
              <h4 class="card-title text-center pb-2"><b>Glovo</b></h4>

              <table style="width:100%">
                <tr>
                  <td class="text-right pr-2">Pagas:</td>
                  <td class="text-left">{{finalPriceGlovo.toFixed(2)}}€/mes</td>
                </tr>
                <tr>
                  <td class="text-right pr-2"><b>Ahorro:</b></td>
                  <td class="text-left"><b>{{ (finalPriceGlovo - finalPrice).toFixed(2) }}€/mes</b></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-4 tecnologic-item">
          <div class="card card-border-top" [style.border-color]="'red'">
            <div class="card-body">
              <h4 class="card-title text-center pb-2"><b>Deliveroo</b></h4>

              <table style="width:100%">
                <tr>
                  <td class="text-right pr-2">Pagas:</td>
                  <td class="text-left">{{finalPriceGlovo.toFixed(2)}}€/mes</td>
                </tr>
                <tr>
                  <td class="text-right pr-2"><b>Ahorro:</b></td>
                  <td class="text-left"><b>{{ (finalPriceGlovo - finalPrice).toFixed(2) }}€/mes</b></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>


  <section class="section-4 py-5">

    <div class="container">

      <div class="row align-items-left text-center">
        <div class="col">
          <h3>Preguntas frecuentes</h3>
        </div>
      </div>

      <div class="row align-items-top py-4">
        <div class="col-6 py-4">
          <h4>¿Tengo permanencia?</h4>
          <p class="description">No, estamos tan seguros de que te va a gustar que no tenemos que atarte de pies y manos.</p>
        </div>
        <div class="col-6 py-4">
          <h4>¿Qué sistema de pago se incluye?</h4>
          <p class="description">Trabajamos con Stripe y Paypal, los pagos son completamente seguros.</p>
        </div>
        <div class="col-6 py-4">
          <h4>¿Cómo podría empezar?</h4>
          <p class="description">Llámanos al teléfono +34 663 363 456 o envíanos un correo con el plan que quieres y te llamamos lo antes posible.</p>
        </div>
        <div class="col-6 py-4">
          <h4>¿Hacen falta conocimientos técnico?</h4>
          <p class="description">Para nada, nuestro sistema es muy simple e intuitivo.</p>
        </div>
        <div class="col-6 py-4">
          <h4>¿Puedo meter todos mis productos?</h4>
          <p class="description">Sí, desde el panel de gestión tienes la opción de añadir o editar tus productos.</p>
        </div>
        <div class="col-6 py-4">
          <h4>¿La app de clientes es única para mi negocio?</h4>
          <p class="description">Por supuesto, siempre hacemos una app personalizable y única para cada negocio cuidando la imagen.</p>
        </div>
      </div>

    </div>
  </section>
</div>
