<div id="content">

  <section class="section-1 py-5">
    <div class="container">

      <div class="row align-items-center">
        <div class="col-md-12">
          <h3>CONTACTA CON NOSOTROS</h3>
          <h5>TE ESCRIBIREMOS LO ANTES POSIBLE</h5>
        </div>
      </div>

      <div class="row my-5">

        <div class="col-md-6">

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Tu nombre completo" formControlName="name" [ngClass]="{'is-invalid' : contactForm.controls.name.errors.required && contactForm.controls.name.istouched}">
            <div class="invalid-feedback">Please provide a valid city.</div>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre del comercio" formControlName="businessName">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Teléfono" formControlName="phone">
          </div>

          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
          </div>

          <div class="form-group">
            <textarea class="form-control" placeholder="Cuéntanos sobre tu negocio (opcional)" rows="3" formControlName="description"></textarea>
          </div>

          <div>
            <button type="button" class="btn btn-primary" style="width: 100%" (click)="sendEmail()">ENVIAR</button>
          </div>

        </div>

        <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1553.7262698092045!2d-6.124189932975055!3d36.710363215903065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scentro%20de%20negocio%20jerez!5e0!3m2!1ses!2ses!4v1593980583670!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;height: 100%;width: 100%;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

      </div>

    </div>
  </section>
</div>
