<div id="content">

  <section class="section-1 py-4">
    <div class="container text-center">

      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="mt-4 mb-4 text-center">
            <h2>¿QUIENES SOMOS?</h2>
            <p class="my-4">Somos un equipo de diseñadores y desarrolladores que trabaja en estrecha colaboración para crear un entorno de trabajo creativo y positivo. La funcionalidad es tan importante para nosotros como la estética.</p>
          </div>
        </div>
      </div>

      <div class="row align-items-top justify-content-around">

        <div class="col-md-6 col-lg-6 col-xl-5 d-flex">
          <div class="mt-4 mb-4 text-center">
            <div class="card" style="height: 100%;">
              <img src="https://simaexpo.com/wp-content/uploads/2018/09/atsistemas-amplia-sus-oficinas-en-el-edificio-jerez-centro-de-negocios-de-iberdrola-inmobiliaria-n17-iberdrola-2018-09-25_09-38-13_446292.jpg" class="img-fluid"/>
              <div class="card-body">
                <h4>NUESTRAS OFICINAS</h4>
                <p>Estamos ubicados en Av. del Progreso, 11407 Jerez de la Frontera, Cádiz. Un ámbito donde formación, investigación, innovación y transferencia tecnológica se dan la mano.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-5 d-flex">
          <div class="mt-4 mb-4 text-center">
            <div class="card" style="height: 100%;">
              <img src="https://cdn.shortpixel.ai/client/q_glossy,ret_img,w_1480/https://www.applicats.com/wp-content/uploads/2018/12/nuestro_equipo.jpg" class="img-fluid"/>
              <div class="card-body">
                <h4>NUESTRO EQUIPO DE TRABAJO</h4>
                <p>Contamos con un núcleo multidisciplinar de profesionales en el área de la programación y diseño gráfico, que se complementa con un grupo de colaboradores expertos en las temáticas clave en las que desarrollamos nuestros servicios.</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <div class="sizebox" style="height: 40px;"></div>

  <section class="section-2 py-4">
    <div class="container text-center py-4">

      <div class="row align-items-center py-2">

        <div class="col-md-12">
          <h3>La unión hace la fuerza</h3>
          <p>Cuenta con nuestro equipo de trabajo para elaborar tus propios proyectos o impulsar tus negocios al máximo nivel</p>
        </div>

      </div>

      <div class="row align-items-top justify-content-around py-2">

        <div class="col-md-4 col-lg-4 col-xl-4">
          <div class="card" style="height: 100%;">
            <div class="card-body flex-fill">
              <p>Siempre analizamos el mercado y las tendencias que marcan las nuevas tecnologías</p>
            </div>
          </div>
        </div>


        <div class="col-md-4 col-lg-4 col-xl-4">
          <div class="card" style="height: 100%;">
            <div class="card-body flex-fill">
              <p>Te damos la plataforma adecuada para que puedas transformar tus ideas en aplicaciones reales</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 col-xl-4">
          <div class="card" style="height: 100%;">
            <div class="card-body flex-fill">
              <p>Impulsamos tu comercio a un nivel superior, te ofrecemos tu propia plataforma de venta digital</p>

            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

</div>
