<div id="navbar">
  <nav class="navbar navbar-expand-lg fixed-top navbar-light" [ngClass]="{'navbar-top': navbarTop}">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/logo_light_horizontal.png" height="36" alt="" loading="lazy">
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/technologies">Tecnologias<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/pricing">Precios<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">Sobre nosotros<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contact">Contacto<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
          </li>
        </ul>

        <button type="button" class="btn btn-primary">ACCEDER</button>

      </div>

    </div>
  </nav>
</div>
