.navbar-nav > .nav-item > .nav-link{
  font-size: 14px;
  padding-top: .9rem;
  padding-bottom: .9rem;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 1px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 1 !important;
}

.navbar{
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.navbar-top{
  background-color: inherit !important;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}
