.section-header{
  // background-image: url("/assets/images/header-bg.png");
  // background-position: bottom center;
  // background-repeat: no-repeat;
  // background-size: cover;

  padding: 8em 0em 0px 0px;
}

.section-2{
  margin: 4em 0em;
}

.section-3{
  background-color: #fd9260;
  color: white;
  margin: 6em 0em;
}

.section-4{
  margin: 6em 0em;
}

.icon-round{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
  font-size: 2rem;
  background-color: #eff3f9;

  &.icon-round-1{
    background-color: rgba(56, 135, 255, 0.4);
    color: rgba(56, 135, 255, 1);
  }
  &.icon-round-2{
    background-color: rgba(255, 56, 56, 0.4);
    color: rgba(255, 56, 56, 1);
  }
  &.icon-round-3{
    background-color: rgba(7, 163, 41, 0.4);
    color: rgb(7, 163, 41, 1);
  }
}
