<div id="content" class="content-top">

  <section class="section-header">

    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm">
          <div>
            <h1>{{ "HOME.TITLE1" | translate }}</h1>
          </div>
          <p>{{ "HOME.TITLE2" | translate }}</p>
          <button type="button" class="btn btn-primary">{{ "HOME.BUTTON1" | translate }}</button>
        </div>
        <div class="col-sm" [style.z-index]="'1'">
          <img
            src="https://res.cloudinary.com/glovoapp/image/fetch//w_500,h_466,c_fit,f_auto,q_auto/https://glovoapp.com/images/landing/phone_courier_promo.png"
            alt="Glovo App" class="column landing-application-container__phone" data-v-b37a9daa="">
        </div>
      </div>
    </div>


    <div class="svg-header">

      <!-- <svg viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
        <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
      </svg> -->
      <svg viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor">
        <polygon data-v-c5f3fcf8="" points="0,100 100,0 100,100"></polygon>
      </svg>
    </div>
  </section>

  <section class="section-2">

    <div class="container">

      <div class="py-4 text-center">
        <h2>{{ "HOME.TEXT1" | translate }}</h2>
      </div>

      <div class="row align-items-center text-center py-2">

        <div class="col-lg-4">
          <div class="card card-border-top card-color-1">
            <div class="card-body">
              <div class="icon-round icon-round-1"><i class="fas fa-chart-line"></i></div>
              <h5 class="card-title mt-4">Porque Expande Tu Negocio</h5>
              <p class="card-text">Abre tu negocio a los nuevos canales de venta y multiplica tus clientes con las
                aplicaciones móviles y las redes sociales.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card card-border-top card-color-2">
            <div class="card-body">
              <div class="icon-round icon-round-2"><i class="fas fa-user"></i></div>
              <h5 class="card-title mt-4">Fidelizas A Tus Clientes</h5>
              <p class="card-text">Recompensa a tus clientes por su recurrencia, aumenta su satisfacción de compra e
                incrementa tus ingresos.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card card-border-top card-color-3">
            <div class="card-body">
              <div class="icon-round icon-round-3"><i class="fas fa-money-bill-wave"></i></div>
              <h5 class="card-title mt-4">Ahorra</h5>
              <p class="card-text">Ahorra en el pago de comisiones a las plataformas de comida online, pasa tus clientes
                a tu propia app móvil y gana más dinero.</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>

  <section class="section-3">
    <div class="container">

      <div class="pt-5 text-center">
        <h4>MÁS DE 100 CLIENTES SATISFECHOS YA ESTÁN CON NOSOTROS</h4>
      </div>

      <div class="row align-items-center text-center py-4">

        <div class="col-lg-6">
          <p [style.font-size]="'3.2rem'">100</p>
          <p [style.font-size]="'1.2rem'">Tiendas</p>
        </div>

        <div class="col-lg-6">
          <p [style.font-size]="'3.2rem'">5000</p>
          <p [style.font-size]="'1.2rem'">Clientes Satisfechos</p>
        </div>

      </div>

    </div>
  </section>

  <section class="section-4">

    <div class="container">

      <div class="py-4 text-center">
        <h2>¿Cómo empezar?</h2>
        <h4>Sigue estos 3 sencillos pasos y lo tendrás</h4>
      </div>

      <div class="row align-items-center py-2">

        <div class="col-lg-6">
          <img src="https://www.applicats.com/wp-content/uploads/2018/12/number-01.svg"
            class="attachment-full size-full" alt="">
          <img src="https://www.applicats.com/wp-content/uploads/2018/12/home-image-4.svg"
            class="attachment-full size-full" alt="" [style.height]="'20em'">
        </div>

        <div class="col-lg-6">
          <h5>Solicita una demo</h5>
          <p>Es tan sencillo como pulsar en el botón que tienes a continuación y comentarnos brevemente que vendes y
            cuál es el nombre de tu negocio para poder ofrecerte atención precisa para tu negocio</p>
          <button type="button" class="btn btn-primary">SOLICITAR DEMO AQUÍ</button>
        </div>

      </div>

      <div class="row align-items-center py-2">

        <div class="col-lg-6">
          <h5>Estate atento a tu correo o whatsapp</h5>
          <p>Uno de nuestro agentes se encargará de contactarte por la vía que hayas escogido para enviarte el código
            secreto que necesitas apuntarte para acceder a tu nueva flamante app de demostración.</p>
        </div>

        <div class="col-lg-6">
          <img src="https://www.applicats.com/wp-content/uploads/2018/12/number-02.svg"
            class="attachment-full size-full" alt="">
          <img src="https://www.applicats.com/wp-content/uploads/2018/12/home-image-3.svg"
            class="attachment-full size-full" alt="" [style.height]="'20em'">
        </div>

      </div>

      <div class="row align-items-center py-2">

        <div class="col-lg-6">
          <img src="https://www.applicats.com/wp-content/uploads/2018/12/number-03.svg"
            class="attachment-full size-full" alt="">
          <img src="https://www.applicats.com/wp-content/uploads/2018/12/home-image-8.svg"
            class="attachment-full size-full" alt="" [style.height]="'20em'">
        </div>

        <div class="col-lg-6">
          <h5>Pruebalo sin compromiso</h5>
          <p>Se le avisará cuando esté todo listo para que usted pueda disfrutarlo</p>
          <p><b>¡ TOTALMENTE GRATIS !</b> ¡ Ahora ya puedes hacer un pedido !</p>
        </div>

      </div>

    </div>

  </section>

</div>
