body{
  font-size: 18px;
}

h1{
  font-size: 2.8rem;
}

h2{
  font-size: 2.4rem;
}

h3{
  font-size: 2.2rem;
}

p{
  margin-bottom: .2rem;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
}

.card{
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(31,45,65,.15);
  box-shadow: 0 0.15rem 1.75rem 0 rgba(31,45,65,.15);
  overflow: hidden;
  position: relative;

  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.35rem;

  .card-text{
    color: #737373;
    font-size: 14px;
  }

  &.card-border-top{
    border-top-width: .25rem !important;
    border-color: rgb(253, 146, 96);
  }

  .card-text {
    height: 4.2em;
    overflow: hidden;
  }

}

.icon-round{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
  font-size: 1.7rem;
  // background-color: rgba(207, 65, 79, 1);
  color: rgb(255, 255, 255);
  margin: 0.4em;
}

#navbar{
  min-height: 4em;
}

#content{
  min-height: calc(100vh - 8em);
  &.content-top{
    margin-top: -4em;
    min-height: calc(100vh - 4em);
  }
}

#footer{
  min-height: 4em;
  background-color: #1e2d40;
  color: white;
}


.section-header{
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  color: #fff;
  background-image: linear-gradient(0deg,#fd9260,#fbd06b);
  display: block;
}

.svg-header svg{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4rem;
  width: 100%;
}

.background-color-primary{
  background-color: #fd9260;
  color: white;
}

.card{
  color: rgb(40, 40, 40);
}

